html{
  margin: 0;
  padding:0;

  font: normal 100%/1.4 Georgia,serif;
}

a:link {
    text-decoration: none;
    color: bla;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: black;
}

.horizontal-space{
  padding: 0px 15px;
}

.horizontal-space-sub-menus{
  padding: 0px 5px;
}

.masthead {
  padding: 1em;
  background: #000531 url("../img/header.jpg") no-repeat center center;
  background-size: cover;
  color: #fff
}

.current {
  font-weight: bolder;
  text-shadow: 2px 2px #6d7e96;
}

.nav {
  margin: 0;
  padding: 0;
  text-align: center;

  list-style-type: none;
}

.nav > li {
  display: inline-block;
}

.nav-top {
  font-size: 1.5rem;
}
