<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Rick Chiarelli's Alcohol-Free New Year's Eve</title>
  <link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
</head>
<body>

<header class="masthead">
  <center><h1><br></h1><center>
  {% include nav.html navclass='nav-top'%}
  <br>
</header>

{{content}}

<footer>
  {% include nav.html navclass='nav-bottom'%}
  <p>Rick Chiarelli's Alcohol Free New Year's Eve<br/></p>
  <a href="https://twitter.com/rickchiarelli?lang=en">
    <img src = "{{site.baseurl}}/logos/twitter.png" alt="Twitter" height=15px>
  </a>
  <a href="https://www.youtube.com/user/RickChiarelliNation/videos?flow=grid&view=0">
    <img src = "{{site.baseurl}}/logos/youtube.png" alt="YouTube" height=15px>
  </a>
  <a href="https://vimeo.com/rickchiarelli">
    <img src = "{{site.baseurl}}/logos/vimeo.png" alt="Vimeo" height=16px>
  </a>
  <a href="mailto:rick.chiarelli@ottawa.ca">
    <img src = "{{site.baseurl}}/logos/mail.png" alt="Mail" height=15px>
  </a>
</footer>

</body>
</html>
